@import "tailwindcss";
@import "@repo/tailwind-config";

/* Overrides styles from tailwind-config */
/* @theme {
	--color-blue-1000: #2a8af6;
	--color-purple-1000: #a853ba;
	--color-red-1000: #e92a67;
} */

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}
